.card{
   width: 50%;
   margin-top: 10%;
}

p{
   font-size: 80px;

}

.btns{
   width: 70%;

}

@media (max-width: 768px) { 
   .card{
      width: 85%;
      margin-top: 10%;
   }
}
@media (max-width: 576px) { 
   .card{
      width: 100%;
      margin-top: 10%;
   }
 }